.cover__subtitle {
    position: absolute;
    max-width: 360px;
    left: 412px;
    bottom: 245px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 0;
    margin: 0;
}