.cover__subtitle {
    position: absolute;
    width: 30.4%;
    left: 34.79%;
    bottom: 33.1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 0;
    margin: 0;
}

@media screen and (max-width:1279px) {
    .cover__subtitle {
        width: 35.1%;
        bottom: 30.46%;
        left: 32.42%;
    }

}


@media screen and (max-width:1023px) {
    .cover__subtitle {
        width: 46.87%;
        left: 26.56%;
        bottom: 23.95%;
    }
}

@media screen and (max-width:767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 90%;
        left: 5%;
        bottom: 16.5%;
    }
}