.lead__title {
    color: #FFFFFF;
    font-family: 'Inter, Arial, sans-serif';
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    padding-top: 56px;
    width: 73.2%;
}

@media screen and (max-width:1279px) {
    .lead__title {
        width: 77.7%;
        padding-top: 48px;
    }
}

@media screen and (max-width:1023px) {
    .lead__title {
        width: 93.75%;
    }
}

@media screen and (max-width:767px) {
    .lead__title {
        width: 90%;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }
}