.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 245px;
    left: 312px;
    max-width: 560px;
    margin: 0;
}