.place {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 46.74% 49.1%;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

.place:last-child {
  padding-bottom: 92px;
}

@media screen and (max-width:1279px) {
  .place {
    grid-template-columns: 47.41% 49.1%;
  }
}



@media screen and (max-width:1023px) {
  .place {
    grid-template-columns: 47.22% 48.8%;
    grid-template-rows: auto auto;
    grid-column-gap: 28px;
  }

  .place:last-child {
    padding-bottom: 90px;
  }

}

@media screen and (max-width:767px) {
  .place {
    display: block;
    padding-bottom: 50px;
  }
  .place:last-child {
    padding-bottom: 66px;
  }
}
